<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Registrarse</title>
    </head>
    <body>
        <h1>Crear Nueva Cuenta</h1>
        
        <form th:action="@{/register}" th:object="${usuario}" method="post">
            
            <div>
                <label for="username">Usuario (Nombre de Usuario):</label>
                <input type="text" id="username" th:field="*{username}" required/>
            </div>
            
            <div>
                <label for="password">Contraseña:</label>
                <input type="password" id="password" th:field="*{password}" required/>
            </div>
            
            <div>
                <label for="email">Email:</label>
                <input type="email" id="email" th:field="*{email}" required/>
            </div>
            
            <button type="submit">Registrarme</button>
        </form>
        
        <p><a th:href="@{/login}">← Volver al Login</a></p>
    </body>
</html>