<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Panel de Administración</title>
    </head>
    <body>
        <div th:replace="fragments/navbar :: navbar"></div>
        <h1>Bienvenido al Panel de Administración</h1>
        
        <h2>Módulos de Gestión:</h2>
        <ul>
            <li><a th:href="@{/admin/camiseta/list}">Gestión de Camisetas (CRUD)</a></li>
            <li><a th:href="@{/admin/categoria/list}">Gestión de Categorías (CRUD)</a></li>
        </ul>
    </body>
</html>