<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Confirmar Borrado de Camiseta</title>
    </head>
    <body>
        <div th:replace="fragments/navbar :: navbar-fragment"></div>
        <h1>Confirmar Borrado de Camiseta</h1>

        <p>¿Estás seguro de que quieres borrar la camiseta ID: <span th:text="${camiseta.id}"></span>?</p>
        <p>Marca: <span th:text="${camiseta.marca}"></span></p>

        <form th:action="@{/admin/camiseta/del/{id}(id=${camiseta.id})}" method="post">
            <button type="submit">SÍ, BORRAR</button>
            <a th:href="@{/admin/camiseta/list}">NO, Cancelar</a>
        </form>
    </body>
</html>